:root {

    --arial: Arial, Helvetica, sans-serif;
    --segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --calibri: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* --- BELOW is presets --- */

.thin {

    font-weight: 500;
}

.bold {

    font-weight: 1000;
}

.center_class {

    display: flex;
    align-items: center;
}

/* ------------------------------------------------------------
------------------------------- */

body {

    margin: 0; 
    padding: 0;
}

.site {

    display: grid; 
    grid-template-columns: 2.7fr 5fr; 
    grid-template-rows: .10fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header header"
    "main map"; 

    height: 100vh;
}

header { 
    
    grid-area: header;

    display: grid;
    grid-template-columns: 2.7fr 4fr 1fr;
    grid-template-rows: .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: #D0D5DB;
}

main { 
    
    grid-area: main;

    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.5fr 2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "filter_options"
    "location_container"; 

    background-color: #D0D5DB;

}

.map_container {

    grid-area: map; 
}

#map {

    height: 100%;
}

/* --- BELOW is header section --- */
/* --- BELOW is header section --- */
/* --- BELOW is header section --- */
/* --- BELOW is header section --- */

.title {

    display: flex;

    padding-left: 50px;

    background-color: #D0D5DB;
}

.title div {

    margin-right: 25px;
}

.title .burger_menu {

    margin-top: 2px;

    font-size: 25px;
}

.title h1 {

    font-family: var(--calibri);
    font-size: 30px;
}

.address_search_bar {

    background-color: #D0D5DB;

    position: relative;
}

.search_bar {

    border: none;
    border-radius: 4px;

    height: 45px;
    width: 500px;

    font-family: var(--calibri);
    font-weight: 600;
    font-size: 16px;

    padding-left: 48px;

    color: rgb(78, 78, 78);
}

.search_bar::placeholder {

    opacity: .5;
}

.search_bar:focus {

    outline: none;
    border: none;
}

.search {

    position: absolute;
    left: 20px;
}

.account_options {

    display: flex;

    background-color: #D0D5DB;

    margin-right: 10px;
}

.account_options div {

    display: flex;
    margin-left: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 100px;

    width: max-content;
    height: 15px;

    background-color: rgba(255, 255, 255, 0.62);
    opacity: .7;
}

.account_options div:hover {

    opacity: 1;
}

.account_options p {

    font-family: var(--segoe);
    font-weight: 600;

    opacity: .7;
}

.account_options i {

    margin-right: 5px;
}

.search {

    margin-right: 10px;
}

/* --- BELOW is main section --- */
/* --- BELOW is main section --- */
/* --- BELOW is main section --- */
/* --- BELOW is main section --- */

.filter_options {

    background-color: #D0D5DB;
    
    padding: 30px;

    grid-area: filter_options;
}

.filter_options h2 { 

    font-family: var(--arial);
    font-size: 20px;

    opacity: .8;
}

.location_container {

    background-color: #c0c5ca;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: location_container;
}

.eventbox_container {

    width: 95%;
    height: 400px;

    overflow: auto;
    overflow-x: hidden;
}

.individual_eventbox {

    height: 130px;
    width: 100%;

    margin-bottom: 10px;
}

.info_eventbox {

    background-color: whitesmoke;

    height: 130px;
    width: 87%;

    margin: 0 auto;

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 150px 1.8fr 0.3fr; 
    grid-template-rows: 1fr 0.6fr 1.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "Image Title Title"
    "Image Address Address"
    "Image Category Rating"; 

    overflow: hidden;

    border-radius: 10px;
}

.info_eventbox p{

    object-fit: cover;
    margin: 0;

}

.image_eventbox {

    grid-area: Image;

    height: 150px;
    width: 150px;

    margin: 0;

    overflow: hidden;
}

.image_eventbox img {

    object-fit: cover;
}

.title_eventbox {

    grid-area: Title;

    margin-left: 10px;
    margin-bottom: 0;
    height: 40px;

    font-size: 25px;
    font-family: var(--segoe);
    font-weight: 500;

    display: flex;
    align-items: center;
}

.address_eventbox {

    grid-area: Address;

    margin-left: 10px;
    margin-top: 0;

    height: 60px;

    font-size: 15px;
    font-family: var(--segoe);
    font-weight: 300;
}

.category_eventbox {

    grid-area: Category;

    margin-left: 10px;

    height: 30px;

    font-size: 15px;
    font-family: var(--segoe);
    font-weight: 400;

    display: flex;
    align-items: end;
}

.rating_eventbox {

    grid-area: Rating;

    height: 40px;
    width: 40px;

    font-size: 15px;
    font-family: var(--segoe);
    font-weight: 300;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #838383;
    border-radius: 100%;

    margin-left: -10px;
    margin-top: -10px;
}

.add_container {

    background-color: whitesmoke;

    height: 150px;
    width: 87%;

    margin: 0 auto;

    background-color: rgba(245, 245, 245, 0.411);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 110px;

    margin-bottom: 15px;

    box-shadow: none;
    border-radius: 10px;
}

.add_more {

    width: 110px;
    height: 110px;

    font-family: var(--calibri);
    font-weight: 600;
    font-size: 20px;

    background: none;
    border: none;
}

.add_more i {

    opacity: .6;

    margin-left: -1px;
    margin-top: 5px;

    color: rgba(255, 255, 255, 0.62);

    background-color: #A9A5B1;

    border-radius: 100%;

    height: 37px;
    width: 55px;

    padding-top: 18px;

    overflow: hidden;
}

.add_more i:hover {

    background-color: #c4c4c4;
}

.add_more i:active {

    background-color: #b6b6b6;
}

/* BELOW is scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 

    border-radius: 5px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #969696; 

    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #838383; 
}

.marker_rating {

    background-color: #b96767;
    border-radius: 100%;
    color: #FFFFFF;
    font-size: 14px;
    position: relative;
    text-align: center;
    height: 35px;
    width: 35px;
    padding-top: 9px;
    box-sizing: border-box;
    opacity: .9;
}

.marker_rating::after {

    content: "";
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%, 0);
    width: 0;
    height: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #c45454;
}

.marker_rating:hover {

    background-color: #c44444;
    opacity: 1;
}

.loc_name {

    color: black;
    
    width: 100px;
    margin-left: -35px;
    margin-top: 25px;

    font-size: 10px;
    text-align: center;

    pointer-events: none;
}