*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
}



.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, azure);*/
    color: #fff;
   position: sticky;

}

#logo{
    font-size: 3rem;
    color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);    
    text-decoration: none;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.link{
    text-decoration: none;
    font-size: 1.8rem;
color: magenta;
}

.link:hover{
    transition: 0.3s;
    color: bisque;
}








.abc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }

form {
    width: 50%;
   /* background-color: #f2f2f2;*/
    padding: 40px;
    
    display: flex;
    justify-content: center;
    
}

body{
    /*background: linear-gradient(#e66465, #9198e5);*/
    /*background: linear-gradient(#ff9e44, #ffd143);*/
    background: linear-gradient(#ff9e44, #ffd143,#ff7443);
    
}

input{
    font-size: 1.8rem;
    opacity: 0.7;
    border-radius: 5px;
    border-color: whitesmoke;
    

}

button{
    opacity: 0.7;
}
